apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: echo-staging
nameSuffix: -staging
resources:
  - ../../base
patches:
  - target:
      kind: Deployment
      name: echo-server-staging
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1